body{
margin: 0 auto;
}

header {
    background-color:turquoise;
    padding:30px;
}
header h1{
    text-align: center;
    font-style: bold;
    color: white;
}
main{
    display: flex;
}

.days-of-week{
    display: flex;
    flex-direction: row;
}

.days{
    background-color:turquoise;
    flex: 1;
}
.side-bar{
    display: flex;
    flex-direction: column;
    margin:20px;
    align-items: center;
}
.search-form{
    margin-bottom: 5px;
}
.search-button{
 padding:5px;
 margin-bottom: 10px;

}
#search{
    background-color:turquoise;
    color: white;
    border-radius: 8px;
    width: 200px;
}
#city-btns{
    align-items: center;
    background-color: gray;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;

    
}
.city-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px;


}
span{
    font-size: large;
    font-style: bold;
    color: black;
}
#city-name{
    font-size: large;
    font-style: bold;
    color: black;
}
.btn{
    background-color: lightslategrey;
    margin:5px;
    width:200px;

}
.results{
    margin: 20px;
}
.days-of-week span{
    color:white;
}

.days{
    margin: 20px;
    padding: 20px;
}
.days p{
    color: white;


}
#weather-icon-1{
    width:75px;
    height:75px;
    margin:10px;
    justify-content: center;
}
#weather-icon-2{
    width:75px;
    height:75px;
    margin:10px;
}
#weather-icon-3{
    width:75px;
    height:75px;
    margin:10px;
}
#weather-icon-4{
    width:75px;
    height:75px;
    margin:10px;
}
#weather-icon-5{
    width:75px;
    height:75px;
    margin:10px;
}